{% extends 'index.html' %}

{% block content %}
<div class="container" style="margin-top: 3%;">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active " data-bs-interval="10000">
        <img src="https://i.ytimg.com/vi/3NknAv4JBBs/maxresdefault.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://sun2-18.userapi.com/impg/pjCJTyC5pMmxNy46CH7sqjVDed2HqcO7gWm-sg/N8hP3L3vplM.jpg?size=1280x720&quality=96&sign=48c2588cc76bcdd769ad57c4af8d9dd3&type=album" class="d-block w-100" style="width: 1280px; height: 720px;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://sun9-77.userapi.com/impg/J7Pr8s4trz8q_t8CsJMTImkEomHQIUpafTdWlQ/BWrtJccl-vY.jpg?size=1282x720&quality=96&sign=6d762a0cee3852860efd49d2c8d005cd&type=album" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
  </div>
</div>

<div class="container" style="margin-top: 3%;">
  <h1>О НАШЕЙ ШКОЛЕ</h1>
  <div class="card-body border-top ">
    <div class="row">
      <div class="col-sm-6 mb-4">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">Высококвалифицированные преподаватели</h5>
            <p class="card-text">
              РГЭУ является одним из ведущих экономических вузов России, поэтому ученики могут получить обучение у профессионалов, имеющих многолетний опыт преподавания и подготовки к ЕГЭ.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">Уникальные учебные материалы</h5>
            <p class="card-text">
              РГЭУ может предоставлять свои уникальные учебные материалы и методики подготовки к ЕГЭ, которые могут помочь ученикам лучше понимать материал и успешно сдавать экзамены.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Индивидуальный подход</h5>
            <p class="card-text">
              Школа РГЭУ может предоставлять индивидуальный подход к каждому ученику, чтобы помочь им решить их индивидуальные проблемы и недостатки в знаниях.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Широкий спектр предметов</h5>
            <p class="card-text">
              Школа РГЭУ может предоставлять подготовку по широкому спектру предметов, включая такие предметы, как математика, русский язык, иностранные языки, обществознание, история, география и другие.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Репутация</h5>
            <p class="card-text">
              Университет РГЭУ является одним из ведущих экономических вузов России, что может повысить доверие к его школе подготовки к ЕГЭ и способствовать ее успеху.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Возможность поступления</h5>
            <p class="card-text">
              Школа подготовки к ЕГЭ у университета РГЭУ может предоставлять возможность поступления в сам университет на очное отделение, что может быть особенно привлекательно для учеников, которые планируют продолжить свое обучение в этом университете.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Поддержка при поступлении</h5>
            <p class="card-text">
              Школа РГЭУ может предоставлять поддержку и помощь ученикам в процессе поступления в вуз, включая помощь с заполнением документов, подготовку к собеседованию и т.д.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 3%;">
  <h1>ПОДГОТОВКА К ЕГЭ ДЛЯ ШКОЛЬНИКОВ</h1>
  <div class="card-body border-top">
    <div class="row">
      <div class="col-md-4" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Физика</h3>
      </div>
      <div class="col-md-8" style="margin-top: 1%; margin-bottom: 1%">
        <a class="btn btn-primary" href="{% url 'TeacherList' %}" role="button">Преподаватели</a>
        <a class="btn btn-primary" href="{% url 'courses' %}" role="button">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="row">
      <div class="col-md-4" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Математика</h3>
      </div>
      <div class="col-md-8" style="margin-top: 1%; margin-bottom: 1%">
        <a class="btn btn-primary" href="{% url 'TeacherList' %}" role="button">Преподаватели</a>
        <a class="btn btn-primary" href="{% url 'courses' %}" role="button">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="row">
      <div class="col-md-4" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Информатика и ИКТ</h3>
      </div>
      <div class="col-md-8" style="margin-top: 1%; margin-bottom: 1%">
        <a class="btn btn-primary" href="{% url 'TeacherList' %}" role="button">Преподаватели</a>
        <a class="btn btn-primary" href="{% url 'courses' %}" role="button">Подробнее</a>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 3%;">
  <h1>УСЛОВИЯ ОБУЧЕНИЯ</h1>
  <div class="card-body border-top">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center" style="margin-top: 1%; margin-bottom: 1%;">
        <img src="../static/individual_training.jpg" width="300" height="200">
      </div>
      <div class="col-md-6 col-lg-8" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Индивидуальный план обучения</h3>
        <p class="card-text">Каждому студенту будет установлен индивидуальный план обучения, который учитывает его уровень знаний и цели обучения.</p>
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-8" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Квалифицированные преподаватели</h3>
        <p class="card-text">Обучение ведут опытные и квалифицированные преподаватели, имеющие необходимые знания и навыки в области физики, математики, информатики и ИКТ</p>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center" style="margin-top: 1%; margin-bottom: 1%">
        <img src="../static/qualified_teachers.jpg" width="300" height="200">
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center" style="margin-top: 1%; margin-bottom: 1%">
        <img src="../static/interactive_teaching_methods.jpg" width="300" height="200">
      </div>
      <div class="col-md-6 col-lg-8" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Интерактивные методы обучения</h3>
        <h8>Обучение проводится с помощью интерактивных методов обучения, которые позволяют лучше усвоить материал</h8>
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-8" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Регулярные тесты и контрольные работы</h3>
        <h8>В процессе обучения проводятся регулярные тесты и контрольные работы, чтобы студент мог оценить свой уровень знаний и увидеть свой прогресс</h8>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center" style="margin-top: 1%; margin-bottom: 1%">
        <img src="../static/regular_tests_and_control_works.jpg" width="300" height="200">
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center" style="margin-top: 1%; margin-bottom: 1%">
        <img src="../static/feedback.jpg" width="300" height="200">
      </div>
      <div class="col-md-6 col-lg-8" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Обратная связь</h3>
        <p class="card-text">Преподаватели дают обратную связь по результатам тестов и контрольных работ, что позволяет студенту лучше понимать свои ошибки и избегать их в будущем</p>
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-8" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Подготовка к экзамену</h3>
        <p class="card-text">Школа "Эксельсиум" обеспечивает студентов всей необходимой информацией о структуре экзамена и методиках подготовки к нему</p>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center" style="margin-top: 1%; margin-bottom: 1%">
        <img src="../static/exam_preparation.jpg" width="300" height="200">
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center" style="margin-top: 1%; margin-bottom: 1%">
        <img src="../static/additional_materials_and_resources.jpg" width="300" height="200">
      </div>
      <div class="col-md-6 col-lg-8" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Дополнительные материалы и ресурсы</h3>
        <p class="card-text">Студентам предоставляются дополнительные материалы и ресурсы для самостоятельного изучения материала и повышения своего уровня знаний</p>
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-8" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Открытость и гибкость</h3>
        <p class="card-text">Школа "Эксельсиум" открыта для обратной связи и готова рассмотреть индивидуальные запросы и потребности студентов. Также возможны изменения в плане обучения в зависимости от уровня знаний и потребностей студента.</p>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center" style="margin-top: 1%; margin-bottom: 1%">
        <img src="../static/exam_preparation.jpg" width="300" height="200">
      </div>
    </div>
  </div>
  <div class="card-body border-top">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center" style="margin-top: 1%; margin-bottom: 1%">
        <img src="../static/certificate_issuance.jpg" width="300" height="200">
      </div>
      <div class="col-md-6 col-lg-8" style="margin-top: 1%; margin-bottom: 1%">
        <h3>Выдача сертификата</h3>
        <p class="card-text">По окончании программы подготовки к ЕГЭ по физике, математике, информатике и ИКТ, студенту будет выдан сертификат о прохождении обучения</p>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}

{% endblock %}